---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Haz que tus ideas cuenten" id="intro">
  <Fragment slot="lead">
    Convierte tus 
    <span class="text-primary">pensamientos </span>en
    <span class="text-primary">acciones y resumenes</span>
    con <span class="text-primary">ResumIA</span>.
  </Fragment>

  </div>
</ContentSection>
