---
import ContentSection from "~/components/content-section.astro";

// Definir el tipo PriceItem si est치s usando TypeScript
type PriceItem = {
  plan: string;
  price: string;
  feature1: string;
  feature2: string;
  feature3?: string;
  stripePriceId?: string;
};

const prices: Array<PriceItem> = [
  {
    plan: "Seccion en construccion",
    price: "Si quieres saber mas sobre los precios, contacta con nosotros",
    feature1: "Correo: kikerodrivela@gmail.com",
    feature2: "Telegram: @kikerodrivela",
  },
];


---

<ContentSection client:load title="Precios" id="showcase">
    <div class="border p-6 rounded-lg shadow-lg text-center w-full max-w-md mx-auto mt-8">
      <h2 class="text-2xl font-bold mb-4">Secci칩n en construcci칩n</h2>
      <p class="mb-4">Si quieres saber m치s sobre los precios, contacta con nosotros:</p>
      <ul class="text-left">
        <li class="mb-2">游닎 Correo: <a href="mailto:kikerodrivela@gmail.com" class="">kikerodrivela@gmail.com</a></li>
        <li>游눫 Telegram: <a href="https://t.me/enriquetecfan" class="">@kikerodrivela</a></li>
      </ul>
    </div>
</ContentSection>



